.version.archive /* version checker */
{
	color: #0000EB;
	background-color: #99CABE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 858px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 18px;
	width: 0.01px;
}

#pu5541-3
{
	width: 0.01px;
}

#u5541-3
{
	z-index: 4;
	width: 1020px;
	min-height: 105px;
	background-color: #FBB03B;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5592-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#pu5539
{
	width: 0.01px;
	margin-top: -1px;
}

#u5539
{
	z-index: 2;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5539_img
{
	padding-bottom: 11px;
}

#menuu5542
{
	z-index: 7;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
}

#u5557
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5560
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5560:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5562
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5562.png") no-repeat 0px 0px;
}

#u5560.MuseMenuActive #u5562
{
	background: url("../images/u5562-a.png") no-repeat 0px 0px;
}

#u5543
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u5546
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5546:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5548
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5548.png") no-repeat 0px 0px;
}

#u5546.MuseMenuActive #u5548
{
	background: url("../images/u5548-a.png") no-repeat 0px 0px;
}

#u5578
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u5581
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5581:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5583
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5583.png") no-repeat 0px 0px;
}

#u5581.MuseMenuActive #u5583
{
	background: url("../images/u5583-a.png") no-repeat 0px 0px;
}

#u5571
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u5572
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5572:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5574
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5574.png") no-repeat 0px 0px;
}

#u5572.MuseMenuActive #u5574
{
	background: url("../images/u5574-a.png") no-repeat 0px 0px;
}

#u5550
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u5553
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5553:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5556
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5556.png") no-repeat 0px 0px;
}

#u5553.MuseMenuActive #u5556
{
	background: url("../images/u5556-a.png") no-repeat 0px 0px;
}

#u5564
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u5567
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5567:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5569
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5569.png") no-repeat 0px 0px;
}

#u5567.MuseMenuActive #u5569
{
	background: url("../images/u5569-a.png") no-repeat 0px 0px;
}

#u5585
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u5586
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u5586:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5560:active,#u5546:active,#u5581:active,#u5572:active,#u5553:active,#u5567:active,#u5586:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u5588
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u5588.png") no-repeat 0px 0px;
}

#u5586.MuseMenuActive #u5588
{
	background: url("../images/u5588-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu7567
{
	width: 0.01px;
	margin-top: 43px;
}

#u7567
{
	z-index: 47;
	width: 1021px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 1px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u7558-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#pu7559
{
	width: 0.01px;
	margin-top: 45px;
}

#u7559
{
	z-index: 52;
	width: 486px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu7561-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 500px;
}

#u7561-6
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7562-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#buttonu7568
{
	z-index: 64;
	width: 66px;
	border-color: #787878;
	background-color: #00FFFF;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 950px;
}

#buttonu7568:hover
{
	background-color: #545454;
	width: 66px;
	min-height: 0px;
	margin: 320px -10000px 0px 0px;
}

#buttonu7568.ButtonSelected
{
	background-color: #00FFFF;
	width: 66px;
	min-height: 0px;
	margin: 320px -10000px 0px 0px;
}

#u7569
{
	z-index: 66;
	height: 23px;
	width: 60px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 3px;
	background: url("../images/u7569.png") no-repeat 0px 0px;
}

#buttonu7568:hover #u7569
{
	background: url("../images/u7569-r.png") no-repeat 0px 0px;
}

#u8173-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-top: 101px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

