.version.collaborators /* version checker */
{
	color: #0000E1;
	background-color: #59369C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1574.525px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 10px;
	width: 0.01px;
}

#u6822
{
	z-index: 2;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#pu6769-3
{
	width: 0.01px;
}

#u6769-3
{
	z-index: 5;
	width: 1020px;
	min-height: 112px;
	background-color: #FBB03B;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u6820-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#pu6767
{
	width: 0.01px;
	margin-top: -3px;
}

#u6767
{
	z-index: 3;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6767_img
{
	padding-bottom: 11px;
}

#menuu6770
{
	z-index: 8;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
}

#u6813
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6816
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6816:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6818
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6818.png") no-repeat 0px 0px;
}

#u6816.MuseMenuActive #u6818
{
	background: url("../images/u6818-a.png") no-repeat 0px 0px;
}

#u6771
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u6772
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6772:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6774
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6774.png") no-repeat 0px 0px;
}

#u6772.MuseMenuActive #u6774
{
	background: url("../images/u6774-a.png") no-repeat 0px 0px;
}

#u6785
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u6786
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6786:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6788
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6788.png") no-repeat 0px 0px;
}

#u6786.MuseMenuActive #u6788
{
	background: url("../images/u6788-a.png") no-repeat 0px 0px;
}

#u6778
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u6779
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6779:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6782
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6782.png") no-repeat 0px 0px;
}

#u6779.MuseMenuActive #u6782
{
	background: url("../images/u6782-a.png") no-repeat 0px 0px;
}

#u6792
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u6795
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6795:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6796
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6796.png") no-repeat 0px 0px;
}

#u6795.MuseMenuActive #u6796
{
	background: url("../images/u6796-a.png") no-repeat 0px 0px;
}

#u6799
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u6802
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6802:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6803
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6803.png") no-repeat 0px 0px;
}

#u6802.MuseMenuActive #u6803
{
	background: url("../images/u6803-a.png") no-repeat 0px 0px;
}

#u6806
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u6809
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u6809:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6816:active,#u6772:active,#u6786:active,#u6779:active,#u6795:active,#u6802:active,#u6809:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u6812
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u6812.png") no-repeat 0px 0px;
}

#u6809.MuseMenuActive #u6812
{
	background: url("../images/u6812-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6828-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}

#u6840-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 94px;
	position: relative;
}

#pu6838-37
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 25px;
}

#u6838-37
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu6843
{
	z-index: 99;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 449px;
}

#buttonu6843:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 145px -10000px 0px 0px;
}

#buttonu6843.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 145px -10000px 0px 0px;
}

#u6844-4
{
	z-index: 100;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6843:hover #u6844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6843:hover #u6844-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6846
{
	z-index: 104;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 479px;
}

#buttonu6846:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 216px -10000px 0px 0px;
}

#buttonu6846.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 216px -10000px 0px 0px;
}

#u6847-4
{
	z-index: 105;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6843.ButtonSelected #u6844-4,#buttonu6846:hover #u6847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6846:hover #u6847-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6848
{
	z-index: 109;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 489px;
}

#buttonu6848:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 425px -10000px 0px 0px;
}

#buttonu6848.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 425px -10000px 0px 0px;
}

#u6849-4
{
	z-index: 110;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6846.ButtonSelected #u6847-4,#buttonu6848:hover #u6849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6848:hover #u6849-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6850
{
	z-index: 114;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 541px;
}

#buttonu6850:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 354px -10000px 0px 0px;
}

#buttonu6850.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 354px -10000px 0px 0px;
}

#u6851-4
{
	z-index: 115;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6848.ButtonSelected #u6849-4,#buttonu6850:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6850:hover #u6851-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6852
{
	z-index: 119;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 316px;
}

#buttonu6852:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 78px -10000px 0px 0px;
}

#u6853-4
{
	z-index: 120;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6850.ButtonSelected #u6851-4,#buttonu6852:hover #u6853-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6852:hover #u6853-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6854
{
	z-index: 124;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 429px;
}

#buttonu6854:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 496px -10000px 0px 0px;
}

#buttonu6854.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 496px -10000px 0px 0px;
}

#u6855-4
{
	z-index: 125;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6852.ButtonSelected #u6853-4,#buttonu6854:hover #u6855-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6854:hover #u6855-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6856
{
	z-index: 129;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 896px;
}

#buttonu6856:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 564px -10000px 0px 0px;
}

#buttonu6856.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 564px -10000px 0px 0px;
}

#u6857-4
{
	z-index: 130;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6854.ButtonSelected #u6855-4,#buttonu6856:hover #u6857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6856:hover #u6857-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6858
{
	z-index: 134;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 420px;
}

#buttonu6858:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#buttonu6858.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u6859-4
{
	z-index: 135;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6856.ButtonSelected #u6857-4,#buttonu6858:hover #u6859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6858:hover #u6859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6860
{
	z-index: 139;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 498px;
}

#buttonu6860:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 283px -10000px 0px 0px;
}

#buttonu6860.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 283px -10000px 0px 0px;
}

#u6861-4
{
	z-index: 140;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6858.ButtonSelected #u6859-4,#buttonu6860:hover #u6861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6860:hover #u6861-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6862-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 54px;
	position: relative;
}

#pu6863-17
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u6863-17
{
	z-index: 148;
	display: block;
	vertical-align: top;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu6864
{
	z-index: 165;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 442px;
}

#buttonu6864:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 147px -10000px 0px 0px;
}

#buttonu6864.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 147px -10000px 0px 0px;
}

#u6865-4
{
	z-index: 166;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6860.ButtonSelected #u6861-4,#buttonu6864:hover #u6865-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6864:hover #u6865-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6866
{
	z-index: 170;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 531px;
}

#buttonu6866:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 215px -10000px 0px 0px;
}

#buttonu6866.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 215px -10000px 0px 0px;
}

#u6867-4
{
	z-index: 171;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6864.ButtonSelected #u6865-4,#buttonu6866:hover #u6867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6866:hover #u6867-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6868
{
	z-index: 175;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 391px;
}

#buttonu6868:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu6868.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u6869-4
{
	z-index: 176;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6866.ButtonSelected #u6867-4,#buttonu6868:hover #u6869-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6868:hover #u6869-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6870
{
	z-index: 180;
	width: 60px;
	border-color: #787878;
	background-color: #C69C6D;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 508px;
}

#buttonu6870:hover
{
	background-color: #545454;
	width: 60px;
	min-height: 0px;
	margin: 78px -10000px 0px 0px;
}

#buttonu6852.ButtonSelected,#buttonu6870.ButtonSelected
{
	background-color: #C69C6D;
	width: 60px;
	min-height: 0px;
	margin: 78px -10000px 0px 0px;
}

#u6871-4
{
	z-index: 181;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#buttonu6868.ButtonSelected #u6869-4,#buttonu6870:hover #u6871-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6870.ButtonSelected #u6871-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 5px -10000px 0px 0px;
}

#buttonu6870:hover #u6871-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu6843.ButtonSelected #u6844-4 p,#buttonu6846.ButtonSelected #u6847-4 p,#buttonu6848.ButtonSelected #u6849-4 p,#buttonu6850.ButtonSelected #u6851-4 p,#buttonu6852.ButtonSelected #u6853-4 p,#buttonu6854.ButtonSelected #u6855-4 p,#buttonu6856.ButtonSelected #u6857-4 p,#buttonu6858.ButtonSelected #u6859-4 p,#buttonu6860.ButtonSelected #u6861-4 p,#buttonu6864.ButtonSelected #u6865-4 p,#buttonu6866.ButtonSelected #u6867-4 p,#buttonu6868.ButtonSelected #u6869-4 p,#buttonu6870.ButtonSelected #u6871-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6837-6
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

