.version.index /* version checker */
{
	color: #00000C;
	background-color: #7A98DF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 499.5499999999986px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 27px;
	width: 0.01px;
}

#pu4808-3
{
	width: 0.01px;
}

#u4808-3
{
	z-index: 5;
	width: 1020px;
	min-height: 112px;
	background-color: #FBB03B;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u303-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#u4236
{
	z-index: 2;
	width: 1020px;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u4237
{
	z-index: 3;
	width: 1020px;
	background-color: transparent;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u4237_img
{
	padding-bottom: 11px;
}

#menuu2861
{
	z-index: 8;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u2862
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2865
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2865.MuseMenuActive
{
	background-color: #FBB03B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2868-4
{
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u2868-4_clip
{
	overflow: hidden;
	width: 144px;
	height: 29px;
	vertical-align: top;
}

#u2868-4_img
{
	display: block;
}

#u2869
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u2870
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2870:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2873
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2873.png") no-repeat 0px 0px;
}

#u2870.MuseMenuActive #u2873
{
	background: url("../images/u2873-a.png") no-repeat 0px 0px;
}

#u2876
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2879
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2879:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2880
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2880.png") no-repeat 0px 0px;
}

#u2879.MuseMenuActive #u2880
{
	background: url("../images/u2880-a.png") no-repeat 0px 0px;
}

#u2883
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u2884
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2884:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2886
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2886.png") no-repeat 0px 0px;
}

#u2884.MuseMenuActive #u2886
{
	background: url("../images/u2886-a.png") no-repeat 0px 0px;
}

#u2890
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2891
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2891:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2892
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2892.png") no-repeat 0px 0px;
}

#u2891.MuseMenuActive #u2892
{
	background: url("../images/u2892-a.png") no-repeat 0px 0px;
}

#u2897
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u2898
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2898:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2901
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2901.png") no-repeat 0px 0px;
}

#u2898.MuseMenuActive #u2901
{
	background: url("../images/u2901-a.png") no-repeat 0px 0px;
}

#u2904
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u2905
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u2905:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2870:active,#u2879:active,#u2884:active,#u2891:active,#u2898:active,#u2905:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2908
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u2908.png") no-repeat 0px 0px;
}

#u2905.MuseMenuActive #u2908
{
	background: url("../images/u2908-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u392-7
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-top: 29px;
	position: relative;
}

#pu1299-3
{
	width: 0.01px;
	margin-top: 46px;
}

#u1299-3
{
	z-index: 45;
	width: 1020px;
	min-height: 207px;
	background-color: #7FDFFF;
	opacity: 0.82;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=82)";
	filter: alpha(opacity=82);
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1521-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u1578
{
	z-index: 67;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1584-12
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 88px;
}

#u1585
{
	z-index: 81;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 616px;
}

#u1591-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 631px;
}

#u1598-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 664px;
}

#u1601
{
	z-index: 91;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 598px;
}

#u402-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

