.version.old_news /* version checker */
{
	color: #0000FD;
	background-color: #4A7474;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 3170.950000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 30px;
	width: 0.01px;
}

#u7953
{
	z-index: 4;
	width: 1020px;
	background-color: #FBB03B;
	padding-bottom: 28px;
	position: relative;
}

#u8004-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 48px;
}

#pu7951
{
	width: 0.01px;
	margin-top: -2px;
}

#u7951
{
	z-index: 2;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7951_img
{
	padding-bottom: 11px;
}

#menuu7954
{
	z-index: 5;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
}

#u7962
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7965
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7965:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7967
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7967.png") no-repeat 0px 0px;
}

#u7965.MuseMenuActive #u7967
{
	background: url("../images/u7967-a.png") no-repeat 0px 0px;
}

#u7969
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u7970
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7970:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7972
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7972.png") no-repeat 0px 0px;
}

#u7970.MuseMenuActive #u7972
{
	background: url("../images/u7972-a.png") no-repeat 0px 0px;
}

#u7955
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u7958
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7958:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7960
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7960.png") no-repeat 0px 0px;
}

#u7958.MuseMenuActive #u7960
{
	background: url("../images/u7960-a.png") no-repeat 0px 0px;
}

#u7997
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u8000
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u8000:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u8001
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u8001.png") no-repeat 0px 0px;
}

#u8000.MuseMenuActive #u8001
{
	background: url("../images/u8001-a.png") no-repeat 0px 0px;
}

#u7990
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u7991
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7991:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7994
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7994.png") no-repeat 0px 0px;
}

#u7991.MuseMenuActive #u7994
{
	background: url("../images/u7994-a.png") no-repeat 0px 0px;
}

#u7976
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u7977
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7977:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7978
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7978.png") no-repeat 0px 0px;
}

#u7977.MuseMenuActive #u7978
{
	background: url("../images/u7978-a.png") no-repeat 0px 0px;
}

#u7983
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u7984
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u7984:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7965:active,#u7970:active,#u7958:active,#u8000:active,#u7991:active,#u7977:active,#u7984:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u7987
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u7987.png") no-repeat 0px 0px;
}

#u7984.MuseMenuActive #u7987
{
	background: url("../images/u7987-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u8006-6
{
	z-index: 49;
	margin-left: 1px;
	margin-top: 16px;
	position: relative;
}

#pu8007
{
	width: 0.01px;
	margin-top: 25px;
}

#u8007
{
	z-index: 55;
	width: 448px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8009-8
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 454px;
}

#u8010-8
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 459px;
}

#u8011
{
	z-index: 73;
	width: 453px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: -2px;
}

#u8014
{
	z-index: 89;
	width: 257px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u8013-14
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 267px;
}

#pu8014,#pu8016
{
	width: 0.01px;
	margin-top: 47px;
}

#u8016
{
	z-index: 91;
	width: 420px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u8016_clip
{
	overflow: hidden;
	width: 420px;
	height: 315px;
}

#u8016_img
{
	margin-left: -18px;
	margin-top: -7px;
	margin-bottom: -7px;
}

#u8018-6
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 431px;
}

#pu8022
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 47px;
}

#u8022
{
	z-index: 107;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u8024-6
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 223px;
}

#pu8025
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 47px;
}

#u8025
{
	z-index: 115;
	width: 420px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u8027-8
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 424px;
}

#u8019
{
	z-index: 99;
	width: 420px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u8019_clip
{
	overflow: hidden;
	width: 420px;
	height: 280px;
}

#u8019_img
{
	margin: -9px -18px -17px -21px;
}

#u8021-6
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 426px;
}

#pu8019,#pu8028
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 57px;
}

#u8028
{
	z-index: 125;
	width: 319px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u8030-6
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 330px;
}

#u8005-4
{
	z-index: 45;
	margin-top: 34px;
	position: relative;
}

#u8006-6_img,#u8005-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

