.version.publications_2005_09 /* version checker */
{
	color: #0000FB;
	background-color: #EDC730;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 499.97500000000036px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u4030
{
	z-index: 6;
	width: 1020px;
	background-color: #FBB03B;
	padding-bottom: 27px;
	position: relative;
}

#u4031-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#pu4029-4
{
	width: 0.01px;
	margin-top: 1px;
}

#u4029-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 390px;
}

#menuu4032
{
	z-index: 11;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 1px;
}

#u4040
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4041
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4041:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4042
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4042.png") no-repeat 0px 0px;
}

#u4041.MuseMenuActive #u4042
{
	background: url("../images/u4042-a.png") no-repeat 0px 0px;
}

#u4061
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u4062
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4062:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4064
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4064.png") no-repeat 0px 0px;
}

#u4062.MuseMenuActive #u4064
{
	background: url("../images/u4064-a.png") no-repeat 0px 0px;
}

#u4068
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u4069
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4069:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4070
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4070.png") no-repeat 0px 0px;
}

#u4069.MuseMenuActive #u4070
{
	background: url("../images/u4070-a.png") no-repeat 0px 0px;
}

#u4075
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u4078
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4078:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4080
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4080.png") no-repeat 0px 0px;
}

#u4078.MuseMenuActive #u4080
{
	background: url("../images/u4080-a.png") no-repeat 0px 0px;
}

#u4047
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u4048
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4048:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4049
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4049.png") no-repeat 0px 0px;
}

#u4048.MuseMenuActive #u4049
{
	background: url("../images/u4049-a.png") no-repeat 0px 0px;
}

#u4033
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u4036
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4036:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4039
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4039.png") no-repeat 0px 0px;
}

#u4036.MuseMenuActive #u4039
{
	background: url("../images/u4039-a.png") no-repeat 0px 0px;
}

#u4054
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u4057
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4057:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4041:active,#u4062:active,#u4069:active,#u4078:active,#u4048:active,#u4036:active,#u4057:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4059
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4059.png") no-repeat 0px 0px;
}

#u4057.MuseMenuActive #u4059
{
	background: url("../images/u4059-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4276
{
	z-index: 432;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4276_img
{
	padding-bottom: 11px;
}

#pbuttonu4082
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 28px;
}

#buttonu4082
{
	z-index: 47;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u4083
{
	z-index: 49;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4083.png") no-repeat 0px 0px;
}

#buttonu4082:hover #u4083
{
	background: url("../images/u4083-r.png") no-repeat 0px 0px;
}

#buttonu4084
{
	z-index: 51;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u4085
{
	z-index: 53;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4085.png") no-repeat 0px 0px;
}

#buttonu4084:hover #u4085
{
	background: url("../images/u4085-r.png") no-repeat 0px 0px;
}

#buttonu4086
{
	z-index: 55;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#buttonu4086.ButtonSelected
{
	background-color: #7FDFFF;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4087-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#buttonu4088
{
	z-index: 60;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 555px;
}

#u4089
{
	z-index: 62;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4089.png") no-repeat 0px 0px;
}

#buttonu4088:hover #u4089
{
	background: url("../images/u4089-r.png") no-repeat 0px 0px;
}

#buttonu4090
{
	z-index: 64;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 740px;
}

#buttonu4082:hover,#buttonu4084:hover,#buttonu4088:hover,#buttonu4090:hover
{
	background-color: #545454;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4091
{
	z-index: 66;
	height: 25px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4091.png") no-repeat 0px 0px;
}

#buttonu4090:hover #u4091
{
	background: url("../images/u4091-r.png") no-repeat 0px 0px;
}

#u4092-364
{
	z-index: 68;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 49px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

