.version.publications_2010_15 /* version checker */
{
	color: #0000F4;
	background-color: #27ADE7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 962.6750000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u3937
{
	z-index: 6;
	width: 1020px;
	background-color: #FBB03B;
	padding-bottom: 27px;
	position: relative;
}

#u3938-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#pu3936-4
{
	width: 0.01px;
	margin-top: 1px;
}

#u3936-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 390px;
}

#menuu3939
{
	z-index: 11;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 1px;
}

#u3947
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3948
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3948:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3949
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3949.png") no-repeat 0px 0px;
}

#u3948.MuseMenuActive #u3949
{
	background: url("../images/u3949-a.png") no-repeat 0px 0px;
}

#u3968
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u3969
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3969:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3971
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3971.png") no-repeat 0px 0px;
}

#u3969.MuseMenuActive #u3971
{
	background: url("../images/u3971-a.png") no-repeat 0px 0px;
}

#u3975
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u3976
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3976:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3977
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3977.png") no-repeat 0px 0px;
}

#u3976.MuseMenuActive #u3977
{
	background: url("../images/u3977-a.png") no-repeat 0px 0px;
}

#u3982
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u3985
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3985:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3987
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3987.png") no-repeat 0px 0px;
}

#u3985.MuseMenuActive #u3987
{
	background: url("../images/u3987-a.png") no-repeat 0px 0px;
}

#u3954
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u3955
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3955:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3956
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3956.png") no-repeat 0px 0px;
}

#u3955.MuseMenuActive #u3956
{
	background: url("../images/u3956-a.png") no-repeat 0px 0px;
}

#u3940
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u3943
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3943:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3946
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3946.png") no-repeat 0px 0px;
}

#u3943.MuseMenuActive #u3946
{
	background: url("../images/u3946-a.png") no-repeat 0px 0px;
}

#u3961
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u3964
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3964:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3948:active,#u3969:active,#u3976:active,#u3985:active,#u3955:active,#u3943:active,#u3964:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3966
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3966.png") no-repeat 0px 0px;
}

#u3964.MuseMenuActive #u3966
{
	background: url("../images/u3966-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4273
{
	z-index: 435;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4273_img
{
	padding-bottom: 11px;
}

#pbuttonu4019
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 35px;
}

#buttonu4019
{
	z-index: 415;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u4020
{
	z-index: 417;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4020.png") no-repeat 0px 0px;
}

#buttonu4019:hover #u4020
{
	background: url("../images/u4020-r.png") no-repeat 0px 0px;
}

#buttonu4021
{
	z-index: 419;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#buttonu4019:hover,#buttonu4021:hover
{
	background-color: #545454;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4021.ButtonSelected
{
	background-color: #7FDFFF;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4022
{
	z-index: 421;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4022.png") no-repeat 0px 0px;
}

#buttonu4021:hover #u4022
{
	background: url("../images/u4022-r.png") no-repeat 0px 0px;
}

#buttonu4023
{
	z-index: 423;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#u4024
{
	z-index: 425;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4024.png") no-repeat 0px 0px;
}

#buttonu4023:hover #u4024
{
	background: url("../images/u4024-r.png") no-repeat 0px 0px;
}

#buttonu4025
{
	z-index: 427;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 555px;
}

#u4026
{
	z-index: 429;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4026.png") no-repeat 0px 0px;
}

#buttonu4025:hover #u4026
{
	background: url("../images/u4026-r.png") no-repeat 0px 0px;
}

#buttonu4027
{
	z-index: 431;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 740px;
}

#buttonu4023:hover,#buttonu4025:hover,#buttonu4027:hover
{
	background-color: #545454;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4028
{
	z-index: 433;
	height: 25px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4028.png") no-repeat 0px 0px;
}

#buttonu4027:hover #u4028
{
	background: url("../images/u4028-r.png") no-repeat 0px 0px;
}

#u3998-368
{
	z-index: 47;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 45px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

