.version.publications_2000_2004 /* version checker */
{
	color: #0000EF;
	background-color: #A9DB3D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 499.9749999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u4099
{
	z-index: 2;
	width: 1020px;
	background-color: #FBB03B;
	padding-bottom: 27px;
	position: relative;
}

#u4100-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#pmenuu4101
{
	width: 0.01px;
	margin-left: 1px;
}

#menuu4101
{
	z-index: 7;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
}

#u4123
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4126
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4126:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4129
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4129.png") no-repeat 0px 0px;
}

#u4126.MuseMenuActive #u4129
{
	background: url("../images/u4129-a.png") no-repeat 0px 0px;
}

#u4116
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u4117
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4117:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4119
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4119.png") no-repeat 0px 0px;
}

#u4117.MuseMenuActive #u4119
{
	background: url("../images/u4119-a.png") no-repeat 0px 0px;
}

#u4144
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u4145
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4145:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4147
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4147.png") no-repeat 0px 0px;
}

#u4145.MuseMenuActive #u4147
{
	background: url("../images/u4147-a.png") no-repeat 0px 0px;
}

#u4109
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u4110
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4110:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4111
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4111.png") no-repeat 0px 0px;
}

#u4110.MuseMenuActive #u4111
{
	background: url("../images/u4111-a.png") no-repeat 0px 0px;
}

#u4102
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u4105
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4105:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4106
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4106.png") no-repeat 0px 0px;
}

#u4105.MuseMenuActive #u4106
{
	background: url("../images/u4106-a.png") no-repeat 0px 0px;
}

#u4137
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u4140
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4140:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4142
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4142.png") no-repeat 0px 0px;
}

#u4140.MuseMenuActive #u4142
{
	background: url("../images/u4142-a.png") no-repeat 0px 0px;
}

#u4130
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u4131
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u4131:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4126:active,#u4117:active,#u4145:active,#u4110:active,#u4105:active,#u4140:active,#u4131:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4132
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u4132.png") no-repeat 0px 0px;
}

#u4131.MuseMenuActive #u4132
{
	background: url("../images/u4132-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4279
{
	z-index: 296;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4279_img
{
	padding-bottom: 11px;
}

#pbuttonu4151
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 28px;
}

#buttonu4151
{
	z-index: 43;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u4152
{
	z-index: 45;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4152.png") no-repeat 0px 0px;
}

#buttonu4151:hover #u4152
{
	background: url("../images/u4152-r.png") no-repeat 0px 0px;
}

#buttonu4153
{
	z-index: 47;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u4154
{
	z-index: 49;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4154.png") no-repeat 0px 0px;
}

#buttonu4153:hover #u4154
{
	background: url("../images/u4154-r.png") no-repeat 0px 0px;
}

#buttonu4155
{
	z-index: 51;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#u4156
{
	z-index: 53;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4156.png") no-repeat 0px 0px;
}

#buttonu4155:hover #u4156
{
	background: url("../images/u4156-r.png") no-repeat 0px 0px;
}

#buttonu4157
{
	z-index: 55;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 555px;
}

#buttonu4157.ButtonSelected
{
	background-color: #7FDFFF;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4158-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#buttonu4159
{
	z-index: 60;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 740px;
}

#buttonu4151:hover,#buttonu4153:hover,#buttonu4155:hover,#buttonu4159:hover
{
	background-color: #545454;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4160
{
	z-index: 62;
	height: 25px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u4160.png") no-repeat 0px 0px;
}

#buttonu4159:hover #u4160
{
	background: url("../images/u4160-r.png") no-repeat 0px 0px;
}

#u4161-232
{
	z-index: 64;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 49px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

