.version.publications /* version checker */
{
	color: #00000C;
	background-color: #E55CEA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1300px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 27px;
	width: 0.01px;
}

#u3339
{
	z-index: 22;
	width: 1020px;
	background-color: #FBB03B;
	padding-bottom: 26px;
	position: relative;
}

#u3340-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 48px;
}

#pu4258
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -3px;
}

#u4258
{
	z-index: 20;
	width: 1020px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4258_img
{
	padding-bottom: 11px;
}

#menuu3341
{
	z-index: 23;
	width: 1020px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
}

#u3356
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3357
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3357:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3359
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3359.png") no-repeat 0px 0px;
}

#u3357.MuseMenuActive #u3359
{
	background: url("../images/u3359-a.png") no-repeat 0px 0px;
}

#u3363
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u3366
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3366:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3368
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3368.png") no-repeat 0px 0px;
}

#u3366.MuseMenuActive #u3368
{
	background: url("../images/u3368-a.png") no-repeat 0px 0px;
}

#u3342
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u3343
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3343.MuseMenuActive
{
	background-color: #FBB03B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3345-4
{
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u3345-4_clip
{
	overflow: hidden;
	width: 144px;
	height: 29px;
	vertical-align: top;
}

#u3345-4_img
{
	display: block;
}

#u3377
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u3378
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3378:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3381
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3381.png") no-repeat 0px 0px;
}

#u3378.MuseMenuActive #u3381
{
	background: url("../images/u3381-a.png") no-repeat 0px 0px;
}

#u3384
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u3385
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3385:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3387
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3387.png") no-repeat 0px 0px;
}

#u3385.MuseMenuActive #u3387
{
	background: url("../images/u3387-a.png") no-repeat 0px 0px;
}

#u3349
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u3352
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3352:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3355
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3355.png") no-repeat 0px 0px;
}

#u3352.MuseMenuActive #u3355
{
	background: url("../images/u3355-a.png") no-repeat 0px 0px;
}

#u3370
{
	width: 144px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u3373
{
	width: 144px;
	background-color: #7FDFFF;
	padding-bottom: 28px;
	position: relative;
}

#u3373:hover
{
	background-color: #999999;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3357:active,#u3366:active,#u3378:active,#u3385:active,#u3352:active,#u3373:active
{
	background-color: #6B6B6B;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u3375
{
	height: 29px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	background: url("../images/u3375.png") no-repeat 0px 0px;
}

#u3373.MuseMenuActive #u3375
{
	background: url("../images/u3375-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pbuttonu9391
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 38px;
}

#buttonu9391
{
	z-index: 88;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#buttonu9391.ButtonSelected
{
	background-color: #7FDFFF;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9392-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#buttonu9381
{
	z-index: 68;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u9382
{
	z-index: 70;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u9382.png") no-repeat 0px 0px;
}

#buttonu9381:hover #u9382
{
	background: url("../images/u9382-r.png") no-repeat 0px 0px;
}

#buttonu9383
{
	z-index: 72;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u9384
{
	z-index: 74;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u9384.png") no-repeat 0px 0px;
}

#buttonu9383:hover #u9384
{
	background: url("../images/u9384-r.png") no-repeat 0px 0px;
}

#buttonu9385
{
	z-index: 76;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u9386
{
	z-index: 78;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u9386.png") no-repeat 0px 0px;
}

#buttonu9385:hover #u9386
{
	background: url("../images/u9386-r.png") no-repeat 0px 0px;
}

#buttonu9387
{
	z-index: 80;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u9388
{
	z-index: 82;
	height: 24px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u9388.png") no-repeat 0px 0px;
}

#buttonu9387:hover #u9388
{
	background: url("../images/u9388-r.png") no-repeat 0px 0px;
}

#buttonu9389
{
	z-index: 84;
	width: 106px;
	border-color: #787878;
	background-color: #7FDFFF;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 855px;
}

#buttonu9381:hover,#buttonu9383:hover,#buttonu9385:hover,#buttonu9387:hover,#buttonu9389:hover
{
	background-color: #545454;
	width: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9390
{
	z-index: 86;
	height: 25px;
	width: 88px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: url("../images/u9390.png") no-repeat 0px 0px;
}

#buttonu9389:hover #u9390
{
	background: url("../images/u9390-r.png") no-repeat 0px 0px;
}

#u4231-18
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 38px;
	position: relative;
}

#u4754-4
{
	z-index: 64;
	margin-top: 553px;
	position: relative;
}

#u4754-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 1020px;
}

